{% extends 'users/base.html' %}

{% load static %}

{% block content %}


<section class="mentor">

  <h1>Discover Courses for You</h1>
  <div class="underline">
    <p class="text-line" style="font-size: x-large;">______________________</p>
  </div>
  <div class="row">

    {% for course in courses %}

    <!-- <img src="{{ course.course_picture.url }}" alt="" /> -->

    <div class="mentor-col">
      <div class="mentor2 r-mentor"> 
        <img src="{{ course.course_picture.url }}" alt="" />
      </div>
      <div class="name-of-mentor">{{ course.author }}</div></a>
      <a href="{% url 'ac' course.slug %}">
        <div class="layer">
          <h3>{{ course.course_title}}</h3>

        </div>
      </a>

    </div>

    {% endfor %}



    
   
  </div>
</section>

{% endblock %}