{% extends 'users/base.html' %}

{% load static %}

{% block content %}


<section class="mentor">

  <h1>Discover Courses for You</h1>
  <div class="underline">
    <p class="text-line" style="font-size: x-large;">______________________</p>
  </div>
  <div class="row">

    <div class="mentor-col">
      <!-- <img src="img/saroj.jpg" alt="" /> -->
      <div class="mentor2 r-mentor"> </div>
      <div class="name-of-mentor">Saroj Ghimire</div></a>
      <a href="{% url 'ac' %}">
        <div class="layer">
          <h3>First Project</h3>

        </div>
      </a>

    </div>



    <div class="mentor-col">
      <!-- <img src="img/prashant.jpg" alt="" /> -->
      <div class="mentor1 r-mentor"></div>
      <div class="name-of-mentor">Sandip Paudel</div>
      <div class="layer">
        <h3>Second Project</h3>
      </div>
    </div>
    <div class="mentor-col">
      <!-- <img src="img/sandy.jpg" alt="" /> -->
      <div class="mentor3 r-mentor"></div>
      <div class="name-of-mentor">Prashant Banjade</div>
      <div class="layer">
        <h3>Third Project</h3>
      </div>
    </div>
  </div>
</section>

{% endblock %}