{% extends 'users/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/about-course.css' %}" />
<link rel="stylesheet" href="{% static 'css/teach.css' %}" />

<section class="title-head">
    <div class="teach-title">
        <p class="text-head">
            The <span style="color: blueviolet; font-size: 55px;"> New </span> Way
        </p>
        <p class="text-head second-line">
            To <span style="color: blueviolet; font-size: 55px;"> Sell </span>
        </p>
        <p class="text-head third-line">
            <span style="color: blueviolet; font-size: 55px;"> What </span> You Know
        </p>
        <p class="text-head fourth-line">
            <span style="color: blueviolet; font-size: 80px;"> ONLINE </span>
        </p>
    </div>

</section>
<section class="mid-head">
    <div class="teach-title-btm">
        <p class="text-head-mid">
            Explore in the knowledge industry- <br>
            build your own academy <br>
            Because <br>
            <b> Your Knowledge can <br>
                Change the world.</b>
        </p>

        <p class="text-head-btm">
            Ready to Start your own Academy?
        </p>

        <a href="{{ form_link.reach_out_to_us_form_link }}" target="_blank">
            <div class="buttons">
                <button class="start-btn">Reach Out to US</button>
            </div>
        </a>

    </div>


</section>

{% endblock %}