{% extends 'users/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/about-course.css' %}" />
<link rel="stylesheet" href="{% static 'css/teach.css' %}" />
<link rel="stylesheet" href="{% static 'css/partner.css' %}" />

<section class="part-head">
    <div class="teach-title-btm">
        <p class="part-head-mid">
            Bringing the Best Leaders <br>
            to Upskill <br>
            Your team & Employee.
        </p>

        <div class="buttons">
            <button class="start-btn">Contact Us</button>
        </div>

    </div>

    <div class="contactForm formm">
        <form action="" method="POST"name="patner-form">
            {% csrf_token %}

            <h2>Get in Touch With Us</h2>
            <div class="inputBox">
                <!-- <input type="text" name="Full Name" required="required" /> -->
                {{ form.full_name }}
                <span>Full Name</span>
            </div>
            <div class="inputBox">
                <!-- <input type="email" name="Email" required="required" /> -->
                {{ form.email }}
                <span>Email</span>
            </div>
            <div class="inputBox">
                <!-- <input type="text" name="phone" required="required" /> -->
                {{ form.phone }}
                <span>Phone Number</span>
            </div>
            <div class="inputBox">
                <!-- <input type="text" name="phone" required="required" /> -->
                {{ form.address }}
                <span>Address</span>
            </div>
            <div class="inputBox">
                <!-- <textarea name="Messages" required="required"></textarea> -->
                {{ form.message}}

                <span>How can we help you? </span>
            </div>
            <div class="inputBox">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>

</section>


{% endblock %}