{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soyah</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />

    <link   
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9a840dc6d1.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navBar h-nav-resp">
        <div class="logo v-class-resp">
            <a href="{% url 'landing-page' %}"> <img src="{% static 'img/soyah.png' %}" alt="Logo" />
            </a>
        </div>

        <ul class="rightNav v-class-resp">
            <li><a href="{% url 'courses' %}">Course</a></li>
            <li><a href="{% url 'teach' %}">Teach</a></li>
            <li><a href="{% url 'partners' %}">Partner</a></li>
            {% if user.is_authenticated %}
            <!-- <img src="{{ user.profile.social_img }}" alt="hjk"> -->
            <!-- <li><a href="#">{{ user.first_name }} {{ user.last_name }}</a></li> -->
            <li>{{ user.first_name }} {{ user.last_name }}</li>
            <li><a href="{% url 'password_change' %}">updt pwd</a></li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
            

            <!-- dropdown starts -->
            
            <!-- dropdown ends -->
            {% else %}
            <li><a class="btn" href="{% url 'login' %}"> Login</a></li>
            {% endif %}
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>



    {% block content %}
    {% endblock content %}


    <footer>
        <div class="main-content">
          <div class="left box-footer">
            <h2>About us</h2>
            <div class="content-footer">
              <p>Soyah is a Online Learning Platform.</p>
              <div class="social">
                <a href="https://www.facebook.com/soyahedu"><span class="fab fa-facebook-f"></span></a>
                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Ftwitter.com%2Fpdl_sandyy%3Ffbclid%3DIwAR0b0-Ma-3fq8SuWExGc4pvMPo0uslLJ9fbxDIj335o1TivcmseKq1YhY7U&h=AT0f0_eMzmfCU3phWyzUqmc1h7FleSFi2IbBe7V-lb_ONn9m-eidSIjYjtKxPoLXPwwmS4BHNFMHvRq7TlST53QMMhDTQ7ySGmGIc2L75U3ZVXnSH40UcBkyL75xjSNr5Y1K"><span class="fab fa-twitter"></span></a>
                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fheysandyyyy0%3Ffbclid%3DIwAR2xsxzF9hPFiPNogXqDpUo3nDhvvlOoPKPWyJVNSiOe-v2vqa_2KjGiFKg&h=AT1vU0Av_YFovLN-ms7FbKHjng4GJOV7ManHs0MVuOpBw32FY-wGTIUR8SLPiaVMFIuG06Dfj_GTvq1d88f2cgFQ76v9RmRAEPzlwixTtf7C-PXY-1z9p_Fp1VYTrS1jMavL"><span class="fab fa-instagram"></span></a>
                <a href="#"><span class="fab fa-youtube"></span></a>
              </div>
            </div>
          </div>
  
          <div class="center box-footer">
            <h2>Address</h2>
            <div class="content-footer">
              <div class="place">
                <span class="fas fa-map-marker-alt"></span>
                <span class="text-footer">Kathmandu, Nepal</span>
              </div>
              <div class="phone">
                <span class="fas fa-phone-alt"></span>
                <span class="text-footer">+977-9808698269</span>
              </div>
              <div class="email">
                <span class="fas fa-envelope"></span>
                <span class="text-footer">soyah123@example.com</span>
              </div>
            </div>
          </div>
  
          <div class="right box-footer">
            <h2>Contact us</h2>
            <div class="content-footer">
              <form action="#">
                <div class="email">
                  <div class="text-footer">Email *</div>
                  <input type="email" required>
                </div>
                <div class="msg">
                  <div class="text-footer">Message *</div>
                  <textarea rows="2" cols="25" required></textarea>
                </div>
                <div class="btn-footer">
                  <button type="submit">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="bottom">
          <center>
            <span class="credit">SOYAH  | </span>
            <span class="far fa-copyright"></span><span> 2021 All rights reserved.</span>
          </center>
        </div>
      </footer>
    </main>

    <script src="{% static 'js/resp.js' %}"></script>
    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>