{% extends 'users/base.html' %}
{% block content %}
<div style="padding: 4rem;">
    {% if form %}
    <div class="container">
        <form method="post">
            {% csrf_token %}

            <div class="">
                <h2 style="text-align: center">
                    Set new password
                </h2>
                <div class="col">
                    <!-- <input type="text" name="username" placeholder="Username" required />
                    <input type="password" name="password" placeholder="Password" required /> -->
                    {{ form.non_field_errors }} <br>
                    {{ form.old_password }} <br>
                    {{ form.new_password1 }} <br>
                    {{ form.new_password2 }} <br>
                    <input type="submit" value="Update" />
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>

<script>
    // to add placeholder to login form 
    const emailField = document.querySelector("#id_old_password");
    const passwordField1 = document.querySelector("#id_new_password1");
    const passwordField2 = document.querySelector("#id_new_password2");

    emailField.placeholder = '{{ form.old_password.label }}'
    passwordField1.placeholder = '{{ form.new_password1.label }}'
    passwordField2.placeholder = '{{ form.new_password2.label }}'
</script>
{% endblock content %}