{% extends 'users/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}" />


{% if messages %}
<ul id="message_container" class="messages" style="text-align: center;">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<header class="background" id="particles-js" >
      
    <section class="firstSection" >
      <div class="box-main">
        <div class="firstHalf">
          <h1 class="text-big ">Where Reader   Meet Leaders</h1>
          <div class="text-typing-animation">
            <div class="static-text"> 90 minutes videos for aspirants who want </div>
            <div class="animation-text">
                <div class="text5 text1"><span class="cursor">Personal Growth</span></div>
                <div class="text5 text2"><span class="cursor">Typing</span></div>
                <div class="text5 text3"><span class="cursor">Animation</span></div>
            </div>
        </div>
          <div class="buttons">
            <a href="{% url 'login' %}">  <button class="btn">Get Started</button>
            </a></div>
        </div>
        <div class="secondHalf">
          <img src="{% static 'img/soyah.jpg' %}" alt="" />
        </div>
      </div>
    </section>
  </header>

  <main>
     <section class="column-wrapper">
       <div class="gt-text">
         <div class="gt-headline">
           You're Ready.
           <br>
           So are We.
         </div>
         
       </div>

       <div class="list-container">
         <div class="first-list list-child">
            <div class="list-head">
              About Us
            </div>
            <div class="image-arr">
              <img src="{% static 'img/arrow.png' %}" alt="">
            </div>
            
         </div>
         <div class="first-list list-child">

         </div>
         <div class="first-list list-child">

         </div>
       </div>
     </section>

    <section class="story">
      <h1 class="titleStory text-big text-cl"><span style= "color: #e09900;">WHO</span> WE ARE!</h1>
      <div class="underline">
        <p class="text-line">________________</p>
      </div>
      <div class="about-us">
        <div class="photo">
            <img class= "myphoto" src="{% static 'img/uss.jpg' %}" alt="">
        </div>

        <div class="textt">
          
          <p style="text-align:center;">
          <span> Young </span>
         
        </p>
        <p style="text-align:center;">
          <span class="bold-txt"> Learners </span>
          <span> -Aiming  </span>
          </p>
        <p style="text-align:center;">
          <span> To build </span>
          </p>
        <p style="text-align:center;">
          <span> A better & faster </span>
          </p>
        <p style="text-align:center;">
          <span> Platform </span>
          </p>
        <p style="text-align:center;">
          <span> To connect </span>
          </p>
        <p style="text-align:center;">
          <span class="bold-txt"> Readers and Leaders. </span>
          </p>
         
      </div>

      </div>
      
    </section>
    <hr class="line-gr" />
    
</div>
      </div>
    </section> 
    
    <section class="mentor">
      <h1>Meet Our Mentors</h1>
      
      <div class="row">
      

        {% for course in ltc %}

        <div class="mentor-col">
          <!-- <img src="img/saroj.jpg" alt="" /> -->
          <div class="mentor2 r-mentor"> 
            <img src="{{ course.course_picture.url }}" alt="" />
          </div>
        <div class="name-of-mentor">{{ course.author}}</div></a>
        <a href="{% url 'ac' course.slug %}"><div class="layer">
            <h3>{{ course.course_title}}</h3>
            
          </div> </a>
         
        </div>
    {% endfor %}

      </div>
    </section>



    <script>
        var message_ele = document.getElementById("message_container");
  
        setTimeout(function () {
          message_ele.style.display = "none";
        }, 3000);
      </script>
  
      {% endblock %}