{% extends 'users/base.html' %}
{% block content %}
<div style="padding: 4rem;">
    <p>Enter your email to get password reset instruction</p>
    <br>
    <form method="post">
        {% csrf_token %}

        {{ form.email }}
        <input type="submit" value="send instruction!" />
    </form>
</div>

<script>
    // to add placeholder to login form 
    const emailField = document.querySelector("#id_email");

    emailField.placeholder = '{{ form.email.label }}'
</script>
{% endblock content %}