.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}

.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 5px;
}

@media only screen and (max-width: 1000px) {
  .navBar {
    flex-direction: column;
    height: auto;
    transition: all 0.6s ease-out;
    height: 480px;
  }

  .rightNav {
    flex-direction: column;
  }

  .rightNav li {
    margin: 20px 0px;
  }

  .box-main {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  .burger {
    display: block;
  }
  .h-nav-resp {
    height: 72px;
  }

  .v-class-resp {
    opacity: 0;
  }

  nav div img {
    margin-left: 0px;
  }

  .logo {
    justify-content: center;
  }

  .contact {
    padding: 50px 10px 10px 10px;
  }

  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .contactForm {
    width: 85%;
    margin-top: 18px;
  }

  .story {
    max-width: 100%;
    margin: auto;
  }

  .about-us {
    flex-direction: column;
    justify-content: center;
  }

  .photo {
    margin-right: auto;
    margin-left: auto;
  }

  .r-mentor {
    width: 50vw;
    height: 50vw;
  }
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mentor {
    max-width: 90%;
  }
}
